* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
}

div.cover-image {
    text-align: center;
}

ol,
ul {
    padding-left: 50px;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 5px;
    padding-left: 0px;
}

ul.recipe-list a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    font-style: none;
    font-size: 20px;
}

.home-button {
    background-color: lightblue;
    color: black;
    padding: 10px 25px 10px;
    font-size: 20px;
}

#home-page-body {
    background-color: lightblue
    ;
}
